# Django settings
DJANGO_SECRET_KEY=secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1
INTERNAL_IPS=127.0.0.1

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=12345

# Database settings
DB_NAME=admin_app_db
DB_USER=admin_app_db
DB_HOST=admin_app_postgres
DB_PORT=5432
DB_PASSWORD=admin_app_db

# Auth settings
AUTH_API_LOGIN_URL=http://auth_app_backend:8001/api/v1/login
AUTH_API_USER_INFO_URL=http://auth_app_backend:8001/api/v1/account
