POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=db
POSTGRES_PORT=5432
ELASTIC_PORT=9200
ELASTIC_HOST=elasticsearch
REDIS_HOST=redis
REDIS_PORT=6379
FASTAPI_HOST=app
FASTAPI_PORT=8000

PERSON_LIMIT=50
GENRE_LIMIT=1
FILMWORK_LIMIT=200
RELAX_TIME=2

TIMER_GENRES=2020-06-16T20:14:09.310000+00:00
TIMER_PERSONS=2020-06-16T20:14:09.310000+00:00
TIMER_FILMWORKS=2020-06-16T20:14:09.310000+00:00