# Postgres
PG_DB=auth_database
PG_USER=app
PG_PASSWORD=123qwe
#PG_HOST=auth_app_postgres
PG_PORT=5433

# Redis
REDIS_PORT=6379
#REDIS_HOST=auth_app_redis

# API
PROJECT_NAME="Auth API"
API_PORT=8000
API_LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
API_LOG_DEFAULT_HANDLERS='["console"]'
API_CONSOLE_LOG_LVL="DEBUG"
API_LOGGERS_HANDLERS_LOG_LVL="INFO"
API_UNICORN_ERROR_LOG_LVL="INFO"
API_UNICORN_ACCESS_LOG_LVL="INFO"
API_ROOT_LOG_LVL="INFO"

#Tests
#API_HOST=auth_app_backend

#JWT settings
JWT_SECRET_KEY='some-secret-key'
JWT_ALGORITHM="HS256"
JWT_AT_EXPIRE_MINUTES=30
YAUTH_SECRET_KEY='5b3f6a325aa3489ba5dd84b755f32ddf'
YAUTH_CLIENT_ID='70293ae2c2c9441e84b5c11fa8942f15'